*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

      display: grid;
      grid-template-columns: repeat(5,1fr);
      grid-template-rows: repeat(1,auto);
       
}

.main{

    background-color: grey; 
    grid-column: 1/6;
    grid-row: 1;
    margin: 3em 3em;

    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 100px 400px auto 100px;

    
}

.header{
     background-color: red;
     grid-column: 1/6;
}
.Big-image{
    background-color: rgb(0, 255, 55);
     grid-column: 1/6;
}
.aticle-con{
    background-color: rgb(0, 38, 255);
     grid-column: 1/6;
}
.footer{
    background-color: rgba(0, 255, 157, 0.753);
     grid-column: 1/6;
}